* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.header-link {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row.center {
  text-align: center;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background-color: rgba(119, 136, 153, 0.777);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
